.vs/
build/
Cuik/

*.o
*.out
*.obj
*.exe
*.ilk
*.pdb
*.rdbg
*.i
*.tbir
*.json

tests/the_fuzzer/
tests/stb_image.c
tests/test5.c
preprocessed.c

debug.bat
run.bat
test.bat
run4coder.bat
project.4coder
