.vs/
.tup/
bin/
bin2/
# *.lib
# *.a

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# NeGate crap
*.rdbg
*.i
*.swp
*.dmp
*.json

tests/the_fuzzer/
tests/stb_image.c
tests/test5.c
preprocessed.c

project.4coder
